@import '../../scss/styles.scss';

.hamburguer {
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 2.5%;
  background-color: $amareloPrimario;
  border-radius: $borderRadius-4;

  &__icon{
    @include color-fontSize($branco, 1.5rem);
  }
}

.menu {
  background: url(../../assets/aside.png) no-repeat right top $preto;
  padding: 5%;
  overflow-y: hidden;
  @include height-width(100vh, 75%);
  z-index: 1000;

  &__title {
    margin-top: $mt30;
    color: $amareloPrimario;

    & a {
      @extend .titleh1;
      text-decoration: none;
    }
  }
}
