@import '../../scss/styles.scss';

.hamburguer {
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  position: absolute;
  left: 30px;
  top: 30px;
  padding: 2.5%;
  background-color: $amareloPrimario;
  border-radius: $borderRadius-4;
  cursor: pointer;

  &__icon {
    @include color-fontSize($preto, 1.5rem);
  }
}

.menu {
  @include height-width(100vh, 75%);
  background: url(../../assets/aside.png) no-repeat right top $preto ;
  padding: 5%;
  overflow-y: hidden;
  z-index: 1000;

  &__welcome {    
    & a {
      @extend .titleh1;
      margin-top: $mt30;
      text-decoration: none;
      background-image: url(../../assets/bg_1.jpg);
      overflow: hidden;
      display: inline-block;
      text-align: left;
      //propriedade que faz o efeito de mascara no texto
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__title {
    @extend .titleh1;
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(flex-start, center);
  }
}
