@import '../../variables/variables.scss','../../mixins/mixins.scss';

.container {
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  width: 100%;
}

.sectionContainer {
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  width: 100%;
  padding: 0 5%;
}
