@import "../../scss/styles.scss";

.container {
  @extend .sectionContainer;

  &__boxTitle {
    @extend .container;
    align-items: flex-start;
    margin-bottom: $mb10;

    &___subtitle {
      @extend .subtitle;
      margin: 0;
      margin-top: $mt5;
      text-align: start;
    }

    &___title {
      @extend .titleh2;
      margin-bottom: $mb10;
      &:last-of-type {
        margin-top: $mt7;
      }
    }
  }

  &__jobsContainer {
    position: relative;
    transition: $transition8;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      background: $gray-800;
      top: 20px;
      bottom: 20px;
      margin-left: 29px;
    }

    &::after {
      @include height-width(20px, 20px);
      background-color: $cinzaBoxEducacao;
      border: 4px solid $gray-800;
      border-radius: $roundEdge;
      content: "";
      display: block;
      left: 17px;
      position: relative;
      top: 0px;
      transition: $transition5;
    }
  }
}
