* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Arial', sans-serif;
  background: #111111;
  color: #fff;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h6, h6 {
  line-height: 1.5;
	color: #fff;
	font-weight: 400;
	font-family: 'Abril Fatface', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
