@import '../../variables/variables.scss','../../mixins/mixins.scss';

.titleh1 {
  font-size: 2.175rem;
  font-family: $fontTitulos;
}

.titleh2 {
  @include color-fontSize($branco, 1.75rem);
}

.subtitle {
  @include color-fontSize($preto50, 0.75rem);
  font-family: $fontConteudo;
  margin: 5% 0;
  text-align: center;
  width: 100%;
}
