@import "../../scss/styles.scss";

.educacao {
  @extend .sectionContainer;

  &__box {
    @extend .container;
    align-items: flex-start;
    margin-bottom: $mb10;

    &___subtitle {
      @extend .subtitle;
      margin: 0;
      margin-top: $mt5;
      text-align: start;
    }

    &___title {
      @extend .titleh2;
      margin-bottom: $mb10;
      &:last-of-type {
        margin-top: $mt7;
      }
    }
  }
}
