@import '../../../scss/styles.scss';

.container {
  @extend .container;
  overflow-x: hidden;

  & a img {
    width: 100%;
  }

  &__containerTitle {
    @include alignItems-justifyContent(flex-start, center);
    @include display-flexDirection(flex, column);
    padding: 20% 10%;

    &__content {
      @extend .content;
      font-size: 1rem;
      text-transform: uppercase;
    }

    &__title {
      @extend .titleh2;
      margin-bottom: $mb20;
    }

    &__contentBox {
      padding-left: $pl10;
      position: relative;

      &::after {
        position: absolute;
        top: 10px;
        left: 0;
        width: 2px;
        height: 40px;
        border-radius: 20px;
        content: "";
        background: #f3c623;
      }

      &___content {
        @extend .content;
        font-size: 1rem;
        margin-bottom: $mb10;
      }
    }

    &__btn {
      @extend .buttonPortfolio;
      margin-top: $mt10;
    }
  }
}
