@import '../../scss/styles.scss';

.hamburguerOpen {
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  background-color: $amareloPrimario;
  border-radius: $borderRadius-4;
  cursor: pointer;
  height: 45px;
  left: 170px;
  padding: 2.5%;
  position: sticky;
  top: 16px;
  transition: $transition6 .2s;
  width: 45px;
  z-index: 1000;

  &__icon {
    @include color-fontSize($preto, 1.5rem);
  }
}

.hamburguerClose {
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  background-color: $amareloPrimario;
  border-radius: $roundEdge;
  cursor: pointer;
  height: 45px;
  left: 16px;
  padding: 2.5%;
  position: sticky;
  top: 16px;
  transform: rotateZ(360deg);
  transition: $transition6;
  width: 45px;
  z-index: 1000;

  &__icon {
    @include color-fontSize($preto, 1.5rem);
  }
}

.menu {
  @include alignItems-justifyContent(flex-start, space-between);
  @include display-flexDirection(flex, column);
  @include height-width(100vh, 75%);
  background: url(../../assets/aside.png) no-repeat right top $preto ;
  padding: 15% 5%;
  overflow-y: hidden;
  position: fixed;
  transform: translateX(0vh);
  transition: $transition5;
  top: 0px;
  @extend .fixed-top;
  z-index: 10;

  &__container {
    @include alignItems-justifyContent(flex-start, center);
    @include display-flexDirection(flex, column);
    width: 100%;

    &___welcome {    
      & a {
        @extend .titleh1;
        //propriedade que faz o efeito de mascara no texto
        background-clip: text;
        background-image: url(../../assets/bg_1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        display: inline-block;
        margin-top: $mt10;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
    }
  
    &___title {
      @extend .titleh1;
      @include display-flexDirection(flex, column);
      @include alignItems-justifyContent(flex-start, center);
    }
  
    &___content {
      @extend .content;
      &:last-of-type {
        margin-bottom: $mb2;
      }
    }

    &___button {
      @extend .button;

      & a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.menuClose {
  @extend .fixed-top;
  @include alignItems-justifyContent(flex-start, space-between);
  @include display-flexDirection(flex, column);
  @include height-width(100vh, 75%);
  background: url(../../assets/aside.png) no-repeat right top $preto ;
  padding: 15% 5%;
  overflow-y: hidden;
  position: fixed;
  transform: translateX(-100vh);
  transition: $transition5;
  top: 0px;
  z-index: 10;
}

.nav {
  width: 100%;
  margin-bottom: $mb10;

  &__list {
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(flex-start, center);
    @include height-width(fit-content, 100%);

    &___item {
      width: 100%;
      padding: 2.5% 0;
    }
  }
}
